<p id="notice"><%= notice %></p>

<p>
  <%= @welcome.name %>
</p>

<p>
  <%= @welcome.message %>
</p>
             <% if user_signed_in? %>
                  <% if current_user.admin? %>
<%= link_to 'Edit', edit_welcome_path(@welcome) %> |
<% end %>
<% end %>
<%= link_to 'Back', welcomes_path %>
