<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Events</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indices.each do |index| %>
      <tr>
        <td><%= index.eventname %></td>
                     <% if user_signed_in? %>
                  <% if current_user.admin? %>
        <td><%= link_to 'Show', index %></td>
        <td><%= link_to 'Edit', edit_index_path(index) %></td>
        <td><%= link_to 'Destroy', index, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
             <% if user_signed_in? %>
                  <% if current_user.admin? %>
<%= link_to 'New Index', new_index_path %>
        <% end %>
        <% end %>
