<p id="notice"><%= notice %></p>

<p>
  <strong>Eventname:</strong>
  <%= @index.eventname %>
</p>

<%= link_to 'Edit', edit_index_path(@index) %> |
<%= link_to 'Back', indices_path %> | 
<%= link_to 'Destroy', index_path(@index), method: :delete, data: { confirm: 'Are you sure?' } %>
